@font-face {
  font-family: "Iosevka";
  src: local("Iosevka"), url(./fonts/iosevka-regular.ttf) format("truetype");
}

@font-face {
  font-family: "Iosevka bold";
  src: local("Iosevka Bold"), url(./fonts/iosevka-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Iosevka semibold";
  src: local("Iosevka Semibold"), url(./fonts/iosevka-semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Iosevka heavy";
  src: local("Iosevka Heavy"), url(./fonts/iosevka-heavy.ttf) format("truetype");
}

@font-face {
  font-family: "iosevka extended heavy";
  src: local("Iosevka Extended Heavy"), url(./fonts/iosevka-extendedheavy.ttf) format("truetype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
